        /*Reponsive images */
        .responsive {
            width: 100%;
            height: auto;
        }


	/* The Modal (background) */
	.modal {
	    display: none; 			/* Hidden by default */
	    position: fixed; 			/* Stay in place */
	    z-index: 1; 			/* Sit on top */
	    padding-top: 20px;	 		/* Location of the box */
	    left: 0;
	    top: 0;
	    width: 95%; 			/* Full width */
	    height: 100%; 			/* Full height */
	    overflow: auto; 			/* Enable scroll if needed */
	    background-color: rgb(0,0,0); 	/* Fallback color */
	    background-color: rgba(0,0,0,0.0); 	/* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
	    background-color: #cccccc;		//Transparent background
	    //background-color: #fefefe;	//Dark-grey
	    margin: auto;
	    padding: 0px;
	    border: 1px solid #888;
	    width: 38%;

	/* Add Animation */  
	    -webkit-animation-name: zoom;
	    -webkit-animation-duration: 0.6s;
	    animation-name: zoom;
	    animation-duration: 0.6s;
	}

	@-webkit-keyframes zoom {
	    from {-webkit-transform:scale(0)} 
	    to {-webkit-transform:scale(1)}
	}

	@keyframes zoom {
	    from {transform:scale(0)} 
	    to {transform:scale(1)}
	}

	/* The Close Button */
	.close {
	    color: #aaaaaa;
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	}

	.close:hover,
	.close:focus {
	    color: #000;
	    text-decoration: none;
	    cursor: pointer;
	}

    /*Modal ENDS */
  

    /*Title Heading */
    body {
      padding-top: 65px;
    }

    body {
      margin: 0;
      font-size: 18px;
    }

    b {
      color: white;
      text-shadow: 2px 2px 4px #000000;
    }

    w {
      color: white;
    }

    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 4px;
        font-size: 10px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 250px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #ddd}

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    .header {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;				
      	height: 70px;				/* Height of header colour */
        background-color: #cccccc;
    }

    .header h2 {
        text-align: left;
    }

    .content {
        padding: 10px 0;
        margin: 50px auto 0 auto;
        width: 80%;
    }

    body, html {
        font-family: sans-serif, calibri;
        font-size: 9pt;
        //max-width: 1500px;
    }

    div.vis-editable,
    div.vis-editable.vis-selected {
      /* custom styling for editable items... */
    }

    div.vis-readonly,
    div.vis-readonly.vis-selected {
      /* custom styling for readonly items... */
      background-color: #d8d8e7;
      border-color: ;
      color: black;
      /color: white;
    }

    .vis-item .vis-item-overflow {
      overflow: visible;
    }

    .vis-item.vis-background.negative {
      background-color: rgba(255, 255, 0, 0.2);
    }


&nbsp;
	<button onclick="showAllGroups()">&#9728;</button>	 <!--Unhide-->
	&emsp;&nbsp;
	<input type="button" id="1" value="&#9668;" ; align="center"/>
    	<input type="button" id="moveLeft" value="<" ; align="center"/>
	<input type="button" id="185" value="&#x271D;" ; align="center"/>
    	<input type="button" id="moveRight" value=">" ; align="center"/>
	<input type="button" id="368" value="&#9658;" ; align="center"/>
	&nbsp;
	<input type="button" id="zoomIn" value="+" style="height:26px; width:30px"; align="center"/>	<!--+-->
   	<input type="button" id="zoomOut" value="-" style="height:26px; width:30px"; align="center"/>&emsp;

  <!--Order Check Box--> 
  <label for="ordering"><font size="4" font face="calibri">&#8645</label><input type="checkbox" id="ordering" unchecked/> 	<!--Order by id-->

    //    <input id="selection" size="9" value="1">                    
 
    // Background color of box
    .vis-item.white { background-color: #ffffff;}
    .vis-item.lightgrey { background-color: #f1f1f1;}
    .vis-item.grey { background-color: #EAEAEA;}
    .vis-item.darkgrey { background-color: #cccccc;}
    .vis-item.darkgrey2 { background-color: #19181A;}
    .vis-item.pink { background-color: #ffe6e6;}    
    .vis-item.red { background-color: #FA8072;}
    .vis-item.bloodred { background-color: #FF4500;}
    .vis-item.orange { background-color: #ffd699;}
    .vis-item.yellow { background-color: #ffff99;}
    .vis-item.lightyellow { background-color: #ffffe6;}
    .vis-item.darkyellow { background-color: #ffff00;}        
    .vis-item.green { background-color: #B4EEB4;}
    .vis-item.lightgreen { background-color: #e6ffcc;}
    .vis-item.turquoise { background-color: #7beadf;}
    .vis-item.lightblue { background-color: #cceeff;}
    .vis-item.blue { background-color: #99daff;}
    .vis-item.lightpurple { background-color: #ffe6ff;}
    .vis-item.purple { background-color: #ff99ff;} 
    .vis-item.darkpurple { background-color: #ff4dff;}
    .vis-item.beige { background-color: #f9f2ec;}
    .vis-item.brown { background-color: #d2a679;}
    .vis-item.black { background-color: #000000;}     
    .vis-item.silver { background-color: #c0c0c0;}




<!-- Back To Top Arrow  -->
        body {font-family:Verdana, sans-serif;}
      /*  p {padding:20px 0;} */

        #backtop {
	    position: fixed;
            left:auto;right: 20px;top:auto;bottom: 20px;
	    outline: none;
            overflow:hidden;
            color:#fff;
            text-align:center;
            background-color:rgba(49,79,96,0.84);
            height:40px;
            width:40px;
            line-height:40px;
            font-size:14px;
            border-radius:2px;
            cursor:pointer;
            transition:all 0.3s linear;
            z-index:999999;

            opacity:1;
            display:none;
        }
        #backtop:hover {
	    background-color:#27CFC3;
        }
        #backtop.mcOut {
            opacity:0;
        }
<!-- Back To Top Arrow  -->


